*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    height: 400px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    margin-top: 5%;
}
.slide{
    display: flex;
    width: 100%;
}
#prevBtn{
    color: #fff;
    position: fixed;
    top: 275px;
    left: 22%;
    z-index: 10;
    font-size: 35px;
    display: block;
    cursor: pointer;
}
#nextBtn{
    color: #fff;
    position: fixed;
    top: 275px;
    right: 22%;
    z-index: 10;
    font-size: 35px;
    display: block;
    cursor: pointer;
    z-index: 3;
}